@model IEnumerable<ShopBanHoa.Models.Category>

@foreach (var i in Model)
{
    <ul class="f-list1">
        <li><a href="#">@i.name </a></li>

    </ul>
}
<li><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1307.8505995406033!2d106.71436052773808!3d10.801847213585102!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a459cb43ab%3A0x6c3d29d370b52a7e!2sHUTECH+University!5e0!3m2!1sen!2s!4v1524045015374" width="265" height="200" frameborder="0" style="border:0" allowfullscreen></iframe></li>